@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #f16718;
  --light-orange: #ff9b62;
  --blue: #162542;
  --light-blue: #7b8bad;
  --light-grey: #e8eff2;
  --white: #ffffff;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--white);
  color: var(--light-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
  max-width: 255px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  max-width: 200px;
}

.button {
  width: 151px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.button-primary {
  background-color: var(--orange);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--light-orange);
}

.button-secondary {
  background-color: var(--light-grey);
  color: var(--blue);
}

.button-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
}

.section-header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-secondary-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  width: 100%;
  margin-right: 41px;
}

.section-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  margin-top: 64px;
}

.section-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 111px;
  margin-top: 75px;
  padding: 0 24px;
  width: 100%;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 64px;
  padding: 0 24px;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 50px 0;
}

.primary-image {
  border-radius: 20px;
  width: 372px;
  height: 331px;
  background-image: url("/mobile/image-keyboard.jpg");
  background-size: cover;
}

.primary-image-wrapper {
  border-radius: 20px 0 0 20px;
  width: 351px;
  margin-top: 64px;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  overflow: hidden;
}

.secondary-image-left {
  border-radius: 0 20px 20px 0;
  background-image: url("/mobile/image-phone-and-keyboard.jpg");
  background-size: cover;
}

.secondary-image-right {
  border-radius: 20px;
  margin: 24px;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
  background-image: url("/mobile/image-glass-and-keyboard.jpg");
  background-size: cover;
}

.secondary-image-wrapper {
  margin: 24px 0;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}

.secondary-image-wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(241, 103, 24, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 20px 20px 0;
}

.secondary-image-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 20px 20px 0;
}

.desktop-bg-box-1 {
  display: none;
}

.desktop-bg-box-2 {
  display: none;
}

.orange-icons {
  height: 65px;
  width: 65px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  background-color: var(--orange);
  margin-bottom: 48px;
}

.bold {
  font-weight: 700;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-m1-t2-d2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-m1-t2-d4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 34px;
  }
  .button {
    width: 175px;
    height: 58px;
  }
  .section-header-buttons {
    padding: 40px;
  }
  .section-secondary-buttons {
    margin-top: 40px;
    padding-right: 30px;
  }
  .section-primary {
    margin-top: 0px 39px;
  }
  .section-secondary {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: left;
    margin-bottom: 142px;
    margin-top: 72px;
    padding: 0 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-secondary p {
    max-width: 398px;
  }
  .section-info {
    text-align: left;
    margin: 0 0px 72px 39px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 281px;
    padding: 0;
  }
  .section-footer {
    margin: 142px 0 43px 0;
  }
  .primary-image {
    width: 478px;
    height: 425px;
    background-image: url("/tablet/image-keyboard.jpg");
  }
  .primary-image-wrapper {
    margin-top: 22px;
    width: 321px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .secondary-image-right {
    width: 445px;
    height: 320px;
    background-image: url("/tablet/image-glass-and-keyboard.jpg");
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    margin: 40px 40px 0px 0px;
  }
  .secondary-image-left {
    width: 214px;
    height: 320px;
    background-image: url("/mobile/image-phone-and-keyboard.jpg");
    border-radius: 20px;
  }
  .secondary-image-wrapper {
    margin: 40px 30px 0px 39px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .secondary-image-wrapper::after {
    border-radius: 20px;
  }
  .secondary-image-wrapper::before {
    border-radius: 20px;
  }
  .orange-icons {
    margin-bottom: 40px;
  }
  .grid-m1-t2-d2 {
    -ms-grid-columns: 7fr 5fr;
        grid-template-columns: 7fr 5fr;
  }
  .grid-m1-t2-d4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1110px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .section-header-buttons {
    padding: 55px 0;
    max-width: 1110px;
    margin: 0 auto;
  }
  .section-secondary-buttons {
    padding-right: 30px;
  }
  .section-primary {
    max-width: 445px;
  }
  .section-secondary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 255px;
    text-align: left;
    margin-top: 112px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin-left: 125px;
  }
  .section-info {
    text-align: left;
    margin: 168px 30px 0px 0px;
    width: 255px;
  }
  .section-footer {
    margin: 126px 0 39px 0;
  }
  .desktop-bg-box-1 {
    display: block;
    position: absolute;
    left: -120;
    top: 950;
    width: 255px;
    height: 236px;
    background-color: var(--light-grey);
    border-radius: 15px;
  }
  .desktop-bg-box-2 {
    display: block;
    position: absolute;
    left: 1305;
    top: 196;
    width: 255px;
    height: 236px;
    background-color: var(--light-grey);
    border-radius: 15px;
  }
  .primary-image {
    width: 540px;
    height: 480px;
    background-image: url("/desktop/image-keyboard.jpg");
  }
  .primary-image-wrapper {
    margin-top: 28px;
    width: 540px;
    border-radius: 20px 0 0 20px;
  }
  .secondary-image-right {
    width: 445px;
    height: 480px;
    background-image: url("/desktop/image-glass-and-keyboard.jpg");
    margin: 30px 0px 0px 0px;
  }
  .secondary-image-left {
    width: 255px;
    height: 480px;
    background-image: url("/desktop/image-phone-and-keyboard.jpg");
    border-radius: 20px;
  }
  .secondary-image-wrapper {
    margin: 30px 30px 0px 0px;
  }
  .orange-icons {
    margin-bottom: 48px;
  }
  .grid-m1-t2-d4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .flex-row {
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
}
/*# sourceMappingURL=globals.css.map */