@media (min-width: 1110px) {
	// Typography

	h1 {
		font-size: 56px;
		line-height: 56px;
		margin-bottom: 24px;
	}

	//layout

	.section-header-buttons {
		padding: 55px;
		max-width: 1110px;
		margin: 0 auto;
	}

	.section-secondary-buttons {
		padding-right: 30px;
	}

	.section-primary {
		max-width: 445px;
	}

	.section-secondary {
		flex-direction: column;
		width: 255px;
		text-align: left;
		margin-top: 112px;
		margin-bottom: 0px;
		justify-content: center;
		align-items: flex-start;
		padding: 0;
		margin-left: 125px;
	}

	.section-info {
		text-align: left;
		margin: 168px 30px 0px 0px;
		width: 255px;
	}

	.section-footer {
		margin: 126px 0 39px 0;
	}

	//images
	.primary-image {
		width: 540px;
		height: 480px;
		background-image: url('/desktop/image-keyboard.jpg');
	}

	.primary-image-wrapper {
		margin-top: 28px;
		width: 540px;
		border-radius: 20px 0 0 20px;
	}

	.secondary-image-right {
		width: 445px;
		height: 480px;
		background-image: url('/desktop/image-glass-and-keyboard.jpg');
		margin: 30px 0px 0px 0px;
	}

	.secondary-image-left {
		width: 255px;
		height: 480px;
		background-image: url('/desktop/image-phone-and-keyboard.jpg');
		border-radius: 20px;
	}

	.secondary-image-wrapper {
		margin: 30px 30px 0px 0px;
	}

	// utilities

	.orange-icons {
		margin-bottom: 48px;
	}

	.grid-m1-t2-d4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.container {
		max-width: 1100px;
		margin: 0 auto;
	}

	.flex-row {
		flex-wrap: initial;
	}
}
