@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
:root {
  --orange: #f16718;
  --light-orange: #ff9b62;
  --blue: #162542;
  --light-blue: #7b8bad;
  --light-grey: #e8eff2;
  --white: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--white);
  color: var(--light-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
}

.button {
  width: 151px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.button-primary {
  background-color: var(--orange);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--light-orange);
}

.button-secondary {
  background-color: var(--light-grey);
  color: var(--blue);
}

.button-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
}

.section-header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-secondary-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 42px 0 24px;
}

.section-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  margin-bottom: 32px;
}

.section-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 111px;
  padding: 0 24px;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 64px;
  padding: 0 24px;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 50px 0;
}

.orange-icons {
  height: 65px;
  width: 65px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  background-color: var(--orange);
  margin-bottom: 48px;
}

.bold {
  font-weight: 700;
}
/*# sourceMappingURL=globals.css.map */