@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #f16718;
  --light-orange: #ff9b62;
  --blue: #162542;
  --light-blue: #7b8bad;
  --light-grey: #e8eff2;
  --white: #ffffff;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: var(--white);
  color: var(--light-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

h1,
h2,
h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--blue);
}

h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 32px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
  max-width: 255px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  max-width: 200px;
}

.button {
  width: 151px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.button-primary {
  background-color: var(--orange);
  color: var(--white);
}

.button-primary:hover {
  background-color: var(--light-orange);
}

.button-secondary {
  background-color: var(--light-grey);
  color: var(--blue);
}

.button-secondary:hover {
  background-color: var(--blue);
  color: var(--white);
}

.section-header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-secondary-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  width: 100%;
  margin-right: 41px;
}

.section-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  margin-top: 64px;
}

.section-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 111px;
  margin-top: 75px;
  padding: 0 24px;
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 64px;
  padding: 0 24px;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 50px 0;
}

.primary-image {
  border-radius: 20px;
}

.primary-image-wrapper {
  border-radius: 20px 0 0 20px;
  width: 351px;
  margin-top: 64px;
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  overflow: hidden;
}

.secondary-image-left {
  border-radius: 0 20px 20px 0;
  display: block;
}

.secondary-image-right {
  border-radius: 20px;
  margin: 24px;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}

.secondary-image-wrapper {
  margin: 24px 0;
  -webkit-transform: translateX(-24px);
          transform: translateX(-24px);
}

.secondary-image-wrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(241, 103, 24, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 20px 20px 0;
}

.secondary-image-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0 20px 20px 0;
}

.orange-icons {
  height: 65px;
  width: 65px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  background-color: var(--orange);
  margin-bottom: 48px;
}

.bold {
  font-weight: 700;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-m1-t2-d2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  h1 {
    margin-bottom: 34px;
  }
  .button {
    width: 175px;
    height: 58px;
  }
  .section-header-buttons {
    padding: 40px;
  }
  .section-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 24px;
    margin-bottom: 3px;
  }
  .grid-m1-t2-d2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=globals.css.map */