@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Colors
:root {
	--orange: #f16718;
	--light-orange: #ff9b62;
	--blue: #162542;
	--light-blue: #7b8bad;
	--light-grey: #e8eff2;
	--white: #ffffff;
}

// Typography
body {
	font-family: 'Barlow', sans-serif;
	background-color: var(--white);
	color: var(--light-blue);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

h1,
h2,
h3 {
	font-weight: 900;
	text-transform: uppercase;
	color: var(--blue);
}

h1 {
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 32px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 24px;
	max-width: 255px;
}

h3 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 24px;
	max-width: 200px;
}

// Buttons

.button {
	width: 151px;
	height: 48px;
	font-size: 16px;
	font-weight: 700;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Barlow', sans-serif;
}

.button-primary {
	background-color: var(--orange);
	color: var(--white);
	&:hover {
		background-color: var(--light-orange);
	}
}

.button-secondary {
	background-color: var(--light-grey);
	color: var(--blue);
	&:hover {
		background-color: var(--blue);
		color: var(--white);
	}
}

//layout

.section-header-buttons {
	display: flex;
	padding: 24px;
	justify-content: space-between;
	align-items: center;
}

.section-secondary-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 42px 0 24px;
}

.section-primary {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 24px;
	margin-bottom: 32px;
}

.section-secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 111px;
	margin-top: 75px;
	padding: 0 24px;
}

.section-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 64px;
	padding: 0 24px;
}

.section-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 96px 0 50px 0;
}

// images

.primary-image {
	border-radius: 20px;
	margin-top: 64px;
	transform: translateX(24px);
}

.secondary-image-left {
	border-radius: 0 20px 20px 0;
	display: block;
}

.secondary-image-right {
	border-radius: 20px;
	margin: 24px;
	transform: translateX(-24px);
}

.image-wrapper {
	margin: 24px 0;
	transform: translateX(-24px);
}

.image-wrapper::after {
	// ORANGE OVERLAY
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(#f16718, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 0 20px 20px 0;
}

.image-wrapper::before {
	// ORANGE OVERLAY
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-radius: 0 20px 20px 0;
}

// utilities
.orange-icons {
	height: 65px;
	width: 65px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	background-color: var(--orange);
	margin-bottom: 48px;
}

.bold {
	font-weight: 700;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
